accelerate==1.3.0
diffusers==0.31.0
peft==0.13.2
torch==2.6.0
torchvision==0.21.0
transformers==4.48.2
datasets
fastparquet
ftfy
Jinja2
matplotlib
numpy
omegaconf
pillow
scipy
seaborn
streamlit
tqdm
urllib3
wandb
